@font-face {
  font-family: 'Pixel Arial 11';
  src: url('../../assets/fonts/PIXEARG_.TTF') format('truetype')
}

html {
  height: 100%;
  display: grid;
}

body {
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: 'Pixel Arial 11';
  margin: auto;
}

#messages {
	position: absolute;
	top: 0px;
	left: 0px;
  width: 100%;
  height: 99%;
  margin: 0px;
  color: red;
  text-align: center;
vertical-align: middle;
line-height: 360px; 
}