@font-face {
  font-family: 'Pixel Arial 11';
  src: url('../assets/fonts/PIXEARG_.TTF') format('truetype')
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: rgb(60, 135, 135);
  font-family: 'Pixel Arial 11';
  font-size: 10px;
}

.ui-resizable-n {
    background-color: rgb(195, 195, 195);
    border-bottom: 1px solid;
}

.ui-resizable-e {
    background-color: rgb(195, 195, 195);
    border-left: 1px solid;
}

.ui-resizable-s {
    background-color: rgb(195, 195, 195);
    border-top: 1px solid;
}

.ui-resizable-w {
    background-color: rgb(195, 195, 195);
    border-right: 1px solid;
}

.window {
  /*border: 1px solid;*/
  border-color: black;
  background: rgb(195, 195, 195);
  /*padding: 2px;*/
  margin: 0px;
  text-align: center;
  overflow: hidden;
  min-width: 150px;
  min-height: 21px;
  z-index: 1;
}

.windowActive {
  border: 1px solid;
  border-color: black;
  background: rgb(195, 195, 195);
  padding: 2px;
  text-align: center;
  overflow: hidden;
  min-width: 150px;
  min-height: 21px;
  z-index: 10;
}

.windowFull {
  border: 0px solid;
  padding: 0px;
  z-index: 20;
}

.titleBar {
  display: flex;
  /*width: 100%;*/
}

.errorMessage {
  display: flex;
  /*flex-wrap: nowrap;*/
}
.mailWindow {
  display: flex;
  height: 90%;
}

.mail {
  height: 100px;
  border: 1px solid;
}
.inbox {
  display: flex;
  background: rgb(195, 195, 195);
}
.mail_detail {
  margin: 4px;
  text-align: left;
  background: rgb(195, 195, 195);
}
.mail_body {
  font-family: monospace;
  margin: 4px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 74px);
}
.inbox_detail {
  display: flex;
}
.mail_toolbar {
  display: flex;
  padding-left: 18px
}
.mail_folders {
  text-align: left;
  margin-left: 24px;
  margin-top: 4px;
  cursor: default;
}
.mails {
  padding-left: 6px;
  height: 100%;
  text-align: left;
  width: 33.333333333333333333333333333333333333333333333333333333333333333333333333%;
  margin-top: 4px;
  cursor: default;
}
.mail_titles {
  padding-left: 8px;
  height: 100%;
  text-align: left;
  width: calc(33.333333333333333333333333333333333333333333333333333333333333333333333333% - (22px / 3));
  cursor: default;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.driversWindow {
  display: flex;
}
.private_folders {
  padding-left: 8px;
  text-align: left;
  height: 100%;
  width: 100%;
  cursor: default;
  border-bottom: 1px solid;
}

.windowTitle {
  background-color: white;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  width: calc(100% - 18px);
  height: 18px;
  color: black;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  cursor: default;
  z-index: 10;
}

.windowTitleNoResize {
  background-color: white;
  border: 1px solid;
  width: calc(100%);
  height: 18px;
  color: black;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  cursor: default;
  z-index: 1;
}

.windowTitleActive {
  background-color: rgb(0, 10, 124);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  width: calc(100% - 18px);
  height: 18px;
  color: white;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  cursor: default;
  z-index: 10;
}

.windowTitleActiveNoResize {
  background-color: rgb(0, 10, 124);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  width: calc(100%);
  height: 18px;
  color: white;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  cursor: default;
  z-index: 10;
}

.windowTitleFull {
  background-color: white;
  border: 1px solid;
  border-color: black;
  width: calc(100% - 18px);
  height: 18px;
  color: white;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  cursor: default;
  z-index: 10;
}

.windowContent {
  background: white;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: calc(100% - 21px);
}

.buttonMenu {
  background-image: url('../assets/button_window_menu.png');
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-color: black;
  cursor: default;
}

.buttonMenuSub {
  background-image: url('../assets/button_window_sub_menu.png');
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-color: black;
  cursor: default;
}

.buttonMin {
  background-image: url('../assets/button_window_close.png');
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-color: black;
  cursor: default;
}

.buttonMax {
  background-image: url('../assets/button_window_full.png');
  width: 18px;
  height: 18px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: black;
  cursor: default;
}

.buttonResize {
  background-image: url('../assets/button_window_resize.png');
  width: 18px;
  height: 18px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: black;
  cursor: default;
}

#iconGridDesktop {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.iconGridWindow {
  position: absolute;
  top: 24px;
  left: 24px;
}

.iconGridProgramManager {
  position: absolute;
  bottom: 122px;
}

.icon {
  overflow: hidden;
  position: absolute; 
  border: none;
  font-size: 9px;
  text-align: center;
  background-size: 100%;
  display: inline-block;
  margin: 20px;
  cursor: default;
}

.iconActive {
  overflow: hidden;
  position: absolute; 
  border: none;
  font-size: 9px;
  text-align: center;
  background-size: 100%;
  display: inline-block;
  margin: 20px;
  cursor: default;
}

.iconActive p {
  color: white;
  background-color: rgb(0, 10, 124);
}
.ransom {
  margin: 5px;
  width: 25px;
}

#chessFrame {
  /*background-color: green;*/
  background-image: url('../assets/chess_background.png');
  background-repeat: no-repeat;
  background-size: 380px 380px;
}

input {
    font-family: 'Pixel Arial 11';
    font-size: 10px;
    border: 2px solid black;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  padding: 1px;
  top: 4px;
  left: -1px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #000000;
}


textarea {
  width:100%;
  height:18vh;
  border: none;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width:60px;
    text-align: right;
}
button {
    background-color:rgb(195, 195, 195);
    border: 2px solid;
    color: black;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow:
        inset 2px 2px 0px 0px white,
        inset 0px 0px 2px 2px  rgb(130,130,130);
    font-family: 'Pixel Arial 11';
    font-size: 12px;
}

button:active {
    border: 2px solid black;
    box-shadow:
        inset 2px 2px 0px 0px rgb(130,130,130),
        inset 0px 0px 2px 2px white;
}
iframe {
  border: 0px solid;
}

#screensaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
